################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pisica_react_local_fe/.env
.vs/
pisica_BE_Webapi/bin/
pisica_BE_Webapi/obj/
pisica_BE_Webapi/images/2025/
pisica_BE_Webapi/images/2026/
